<h1>Add report</h1>

<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Report name" [(ngModel)]="reportName">
  </mat-form-field>
</div>

<div>
  <app-report-template-autocomplete
    (onSelectionChange)="templateSelectionChanged($event)">
  </app-report-template-autocomplete>
</div>

<div>
  <app-report-dataset-autocomplete
    (onSelectionChange)="datasetSelectionChanged($event)">
  </app-report-dataset-autocomplete>
</div>

<div *ngIf="columnsLoading">
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="headerColumns.length > 0">
  <app-dataset-column-select
    [(columns)]="headerColumns"
    title="Header columns">
  </app-dataset-column-select>
</div>

<div
  *ngIf="contentColumns.length > 0">
  <app-dataset-column-select
    [(columns)]="contentColumns"
    title="Content columns">
  </app-dataset-column-select>
</div>

<button
  type="button"
  [disabled]="headerColumns.length == 0 || !selectedTemplate || !reportName"
  class="btn btn-primary"
  (click)="save()">Save</button>
